{% extends 'base.html'%}
{% import 'macros.html' as macro%}
{% block content%}
<div class="container">

    <h3 class="text-center bg bg-success"> HAPPENING NOW</h3>
    <hr>

    {{ macro.displaySourceList(general_sources)}}

    <h3 class="text-center bg bg-success"> ALL ABOUT SCIENCE</h3>
    <hr>

    {{ macro.displaySourceList(science_sources)}}

    
    <h3 class="text-center bg bg-success"> BUSINESS </h3>
    <hr>

    {{ macro.displaySourceList(business_sources)}}

    
    
    <h3 class="text-center bg bg-success"> TECH WORLD </h3>
    <hr>

    {{ macro.displaySourceList(technology_sources)}}

    
    <h3 class="text-center bg bg-success"> HEALTH AND HYGIENE </h3>
    <hr>

    {{ macro.displaySourceList(health_sources)}}


    
    <h3 class="text-center bg bg-success"> ENTERTAINMENT AND MUSIC</h3>
    <hr>

    {{ macro.displaySourceList(entertainment_sources)}}


    
    <h3 class="text-center bg bg-success"> SPORTS WORLD</h3>
    <hr>

    {{ macro.displaySourceList(sports_sources)}}

</div>


{%endblock%}